#heading{
    color: #767676;
    text-align: center;
    padding: 25px;
    font-size: 29px;
}
.col-4{
    width: 33%;
    margin: auto;
}
.col-4 button{
    width: 60px;
    margin: auto;
    display: block;
}
.input-file{
    padding: 6px 0 6px 0;
    cursor: pointer;
    width: 205px;
    margin-left: 103px;
}
.input-submit{
    margin: 6px;
    cursor: pointer;
    width: 360px;
}

.form-border{
    border: 2px solid #ccc;
    padding: 0;
    width: 375px;
}

.error-message{
    text-align: center;
    color: #ff0000;
    font-weight: 500;
}

.success-message{
    text-align: center;
    color: #28a745;
    font-weight: 500;
}
ul{
    padding-left: 10px;
}
li{
    list-style: none;
}
.checkbox-group p {
    margin: 0;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
}
input[type="number"]{
    width: 100px;
    margin: auto;
}